<div class="container-fluid">
  <%= form_with model: review, url: mountain_reviews_path(mountain), local: true do |f| %>
    <%= f.hidden_field :mountain_id, value: mountain.id %>

    <div class="row">
      <div class="col">
        <p class="h3">開始日時</p>
        <p class="fs-3"><%= f.datetime_field :start, class: "form-control form-control-lg" %></p>
      </div>

      <div class="col">
        <p class="h3">終了日時</p>
        <p class="fs-3"><%= f.datetime_field :end, class: "form-control form-control-lg" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="h3">満足度</p>
        <p class="fs-3">
          <%= f.select :score, [["1 - もう登らなくてもいい", 1], ["2 - どちらとも言えない", 2], ["3 - 機会があればまた登りたい", 3], ["4 - また登りたい", 4], ["5 - 絶対また登りたい", 5]], {include_blank: "選択して下さい"}, class: "form-control form-control-lg" %>
        </p>
      </div>

      <div class="col">
        <p class="h3">難易度(Lv.1～Lv.100)</p>
        <p class="fs-3">
        <%= f.number_field :level, class: "form-control form-control-lg", in: 0.0..100.0, step: 5 %>
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <p class="fs-6">タイトル</p>
        <p class="fs-3"><%= f.text_field :title, class: "form-control form-control-lg" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="fs-6">本文</p>
        <p class="fs-3"><%= f.text_area :content, class: "form-control form-control-lg", rows: 20 %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="fs-6">写真</p>
        <p class="fs-3"><%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "form-control form-control-lg" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="fs-6">
          <%= f.submit "保存", class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  <% end %>
</div>
