<!DOCTYPE html>
<html>
  <head>
    <title>Hi・Peaks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1495a61f52.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="fixed-top navbar-light bg-light">
      <div class="container-fluid">
        <div class="row justify-content-between">
          <p class="h1">
            <div class="col-4">
              <%= link_to 'HiPeaks', mountains_path, class: "navbar-brand" %>
            </div>
            <% if user_signed_in? %>
              <div class="col-2">
                <%= link_to 'マイページ', user_path, class: "nav-link" %>
              </div>
              <div class="col-2">
                <%= link_to '新規投稿', "#", class: "nav-link" %>
              </div>
              <div class="col-2">
                <%= link_to '山一覧', mountains_path, class: "nav-link" %>
              </div>
              <div class="col-2">
                <%= link_to "ログアウト", destroy_user_session_path, method: :get, class: "nav-link" %>
              </div>
            <% else %>
              <div class="col-2">
                <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
              </div>
              <div class="col-2">
                <%= link_to '新規登録', new_user_registration_path, class: "nav-link" %>
              </div>
            <% end %>
          </p>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <%= yield %>
    
    <nav class="fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <%= link_to mountains_path do %>
              <i class="fa-solid fa-mountain-sun fa-5x"></i>
            <% end %>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <%= link_to "#" do %>
              <i class="fa-solid fa-bookmark fa-5x"></i>
            <% end %>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <%= link_to "#" do %>
              <i class="fa-solid fa-comment fa-5x"></i>
            <% end %>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <%= link_to user_path do %>
              <i class="fa-solid fa-circle-user fa-5x"></i>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>