<!DOCTYPE html>
<html>
  <head>
    <title>Hi・Peaks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1495a61f52.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to 'Hi・Peaks', mountains_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <% if user_signed_in? %>
          <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <%= link_to 'マイページ', user_path, class: "nav-link" %>
              <%= link_to '新規投稿', "#", class: "nav-link" %>
              <%= link_to '山一覧', mountains_path, class: "nav-link" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :get, class: "nav-link" %>
            </div>
          </div>
        <% else %>
          <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
              <%= link_to '新規登録', new_user_registration_path, class: "nav-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <%= yield %>
  </body>
</html>